article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 100%;
	font-family: "Palatino"
}

body {
	line-height: 1.3;
  font-size: 18px;
	background: #E5D4ED;
	color: #0C1821
}

.container {
	margin: 0 auto;
	max-width: 760px;
	padding: 0 10px 25px;
	width: 100%;
	display: grid;
	grid-template-areas: "header header"
                       "profile profile-text"
                       "main main";
  grid-template-columns: auto auto;
	/* grid-template-rows: 60px auto auto; */
 	gap: 5px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img.profile-pic {
    max-width: 90%;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: auto;
		grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
		grid-template-areas: "header" "profile" "profile-text" "main"
	}

  .helper {}
}

.container > div {
    padding: 10px
}

.container > div.header {
    grid-area: header;
    text-align: center;
    border-bottom: 2px solid #a087ad
}

.container > div.profile {
    grid-area: profile;
    text-align: center;
}

.container > div.profile-text {
    grid-area: profile-text;
}

.container > div.main {
    grid-area: main;
}

p {
	margin: 10px 0
}

a {
	color: #9e2e7c;
	text-decoration: none;
	cursor: pointer
}

a.hidden-link {
	color: inherit
}

a:hover {
	color: #9e2e7c
}

h1 {
	font-size: 28px
}

h2 {
	font-size: 22px
}

h3 {
	font-size: 20px
}

h4 {
	font-size: 18px;
}

.table td {
    text-align: right;
}

.table td:first-child {
    text-align: left;
}
